/******** PB & MT DEW *******************************/
/******** RESETS ************************************/
*, html, body, ul, li, h1, h2, h3, h4, h5, h6, form, p { margin: 0; padding: 0; }
ul, li { list-style: none; }
img { border: none; }

/******** STRUCTURE & SPECIFICS *****************/
body { background: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #666; text-align: center; }

.wrap { padding: 0; width: 980px; margin: 0 auto; text-align: left; }

#top { width: 100%; background: url(img/top-bg.jpg) repeat-x; height: 17px;  }
#nav { height: 27px; padding: 50px 0 0 34px; background: url(img/menu-bg.jpg) no-repeat; }
#banner { margin: 20px auto 0 auto; padding: 5px 15px 0; width: 950px; height: 385px; background: url(img/slide-bg.jpg) no-repeat; }
#content { min-height: 100px; height: auto !important; height: 100px;  }
#footer  { width: 100%; height: 127px; background: url(img/footer-bg.jpg) repeat-x; }

	#top .wrap { position: relative;  }
	h1.logo {  z-index: 10000; position: absolute; left: 338px;  }
	h1.logo a { display: block; width: 265px; height: 160px; background: url(img/logo.png) no-repeat; }
	h1.logo span { display: none; }
	
	#nav li#menu-1, #nav li#menu-2 { padding: 0 45px 0 0; }
	#nav li#menu-4 { margin: 0 0 0 265px; }
	#nav li#menu-5, #nav li#menu-6 { padding: 0 0 0 5px; }
	#nav li.active a { background: url(img/menu-hover-bg.jpg) repeat-x; }
	
	#slides  { display:none; }
	.slidesjs-stop { display: none !important; }
	
	.quickies { padding: 30px 0; }
	.quickies li { display: inline-block; margin: 0 6px; }
	body.page #content { padding: 0 0 0 16px; margin: 110px 0 40px; font-size: 14px; }
	body.page #content p { line-height: 20px; margin: 0 0 15px; }
	.sideCol { width: 406px; }
	.mainCol { width: 558px; }
	body.about .mainCol p { padding: 0 110px 0 19px; }
	body.service-center-workshop .sideCol { width: 581px; }
	body.service-center-workshop .mainCol { width: 383px; }
	body.contact .sideCol { padding: 0 0 0 60px; width: 346px; }
	body.contact .mainCol { padding: 0 40px 0 0; width: 518px; }
	body.new-car .sideCol, body.used-car .sideCol { width: 242px; }
	body.new-car .mainCol, body.used-car .mainCol { width: 711px; padding: 0 11px 0 0; }
	table.location td + td { vertical-align: top; padding: 0 15px 0 30px; }
	table.location td { padding: 0 0 30px; }
	ul.sideMenu li { margin: 0 0 1px 0; }
	ul.sideMenu li a { color: #333; padding: 5px 0 5px 50px; font-size: 16px; display: block; background: #ddd; background: #ddd url(img/sidemenu-bg.jpg) no-repeat right center;  }
	ul.sideMenu li span { padding: 5px 0 5px 50px;  font-weight: bold; text-transform: uppercase; display: block; background: #ccc url(img/sidemenu-bg.jpg) no-repeat right center;   }
	ul.sideMenu li a:hover, ul.sideMenu li.active a { text-decoration: none; background: #ebebeb url(img/sidemenu-hover-bg.jpg) no-repeat right top; }

	.page-wrapper { width: 685px; }
	.page-image { position: relative; margin: 0 0 18px 0; }
	.new-car .page-image { height: 387px; width: 100%; background: url(img/new-car/9-seater-picture.jpg) no-repeat; }
	.jinbei-14-15-seater .page-image { background: url(img/new-car/14-15-seater-picture.jpg) no-repeat; }
	.zotye-nomad-1 .page-image { margin-bottom: 48px; height: 446px; background: url(img/new-car/nomad-1-picture.jpg) no-repeat; }
	.zotye-nomad-2 .page-image { margin-bottom: 15px; height: 363px; background: url(img/new-car/nomad-2-picture.jpg) no-repeat; }
	.page-image h2 { position: absolute; top: 357px; }
	.page-image a { position: absolute; top: 327px; right: 0; }
	.zotye-nomad-1 .page-image h2 { top: 445px; }
	.zotye-nomad-1 .page-image a { top: 418px; }
	.zotye-nomad-2 .page-image h2 { top: 325px; }
	.zotye-nomad-2 .page-image a { top: 300px; }
	
	.used-car .page-wrapper { padding: 15px 10px; }
	.spec-info { padding: 10px 0 0; }
	.spec-detail ul { margin: 0 0 20px 20px; }
	.spec-detail ul li { list-style-type: square; }
	.spec-price, .spec-ansurance { background: #ed1c24; text-align: center; color: #fff; padding: 10px 10px; width: 165px; font-size: 26px; font-weight: bold; }
	.spec-ansurance { font-weight: normal; background: #999999; color: #fff; font-size: 16px; }
	.spec-price em { display: inline-block; padding-top: 4px; font-size: 12px; font-weight: normal; }
	
	#footer .wrap { padding: 25px 0 0; text-align: center; color: #3f3f3f; }
	#footer p { font-size: 16px; font-weight: bold; }
	#footer p:nth-child(2) { color: #8f8f8f; font-weight: normal; }
	#footer a { color: #8f8f8f; padding: 0 8px; }

/******** REPEATS ********************************/
h1,h2,h3,h4,p,ul,ol,table { margin-bottom: 10px; }

a { color: #ed1c24; text-decoration: none; }
a:hover { text-decoration: underline; }

.clearfix { display: inline-block; }
.clearfix:after { display: block; height: 0; clear: both; content: ".";  visibility: hidden; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

img.floatl { margin: 0 10px 0 0; }
img.floatr { margin: 0 0 0 10px; }
img.thumbnail { padding: 4px; -webkit-box-shadow: 0 0 10px rgba(101, 101, 101, 0.5); -moz-box-shadow: 0 0 10px rgba(101, 101, 101, 0.5); box-shadow: 0 0 10px rgba(101, 101, 101, 0.5); }
img.single-logo { margin: 15px 0 25px 0; }

.floatl { float: left; }
.floatr { float: right; }
.alignr { text-align: right; }
.alignl { text-align: left; }
.alignc { text-align: center; }

h1,h2,h3,h4,h5,h6 { color: #333; font-weight: bold; text-rendering: optimizeLegibility; } /* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
html { -webkit-font-smoothing: antialiased; } /* maxvoltar.com/archive/-webkit-font-smoothing */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.7em; }
h6 { font-size: 0.5em; }
h1.page-title { text-transform: uppercase; color: #333; }
h3.subtitle { background: #ccc; padding: 5px 10px; }
h2.topic { padding-bottom: 6px; width: 100%; border-bottom: 1px solid #666; font-size: 1.4em; text-transform: uppercase; color: #333; }
h2.topic.upline { border-top: 1px solid #ccc; padding-top: 6px; margin-top: 45px; }
h2.topic.noline { border: 0; }
h3.subtitle { margin: 0; text-transform: uppercase; color: #333; padding: 4px 10px; }
h2.spec-car-title { margin: 0; font-size: 1.4em; color: #ed1c24; text-transform: uppercase; }
body.contact .sideCol h2 { padding: 5px 10px; }

iframe { border: 0; }

hr {
background-color:#ccc;
border-width:0;
color:#ccc;
height:1px;
line-height:0;
margin: 0 0 15px 0;
page-break-after:always;
text-align:center;
width:100%;
}

hr:after {
}

/*************** Pagination styles */

.pagiwrap { background: #f0f0f0; text-align: center; padding: 15px; margin: 20px 0 0; }
.pagiwrap p { color: #7a7a7a; margin: 20px 0; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px 4px; border: 1px solid #dadada; text-decoration: none; color: #696969; background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 1%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 1%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */  
}
.pagination a:hover, .pagination a:active { color: #000; background-color: #dbdbdb; border: 1px solid #c9c9c9; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; color: #fff; background-color: #ff0000; border: 1px solid #d2d2d2;}	
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; color: #DDD; }
.pagination a.less, .pagination a.more  { color: #6f8b0f; background: none; border: none; }
html>body .pagination { padding: 0; }	

.spec-table td { background: #f2f3f3; border: 1px solid #fff; padding: 8px 8px 8px 15px; }
.spec-table td.spec-topic { padding: 5px 0 5px 15px; font-weight: bold; font-size: 15px; color: #333; background: url(img/spec-table-topic-bg.jpg) repeat-x; }
.spec-table td.spec-notice { padding: 10px 0 40px 15px; border-bottom: 1px solid #ccc; background: #fff; font-size: 13px; }
.spec-table tr.spec-type td { font-weight: bold; color: #333; text-align: center; border-top: 1px solid #666; }
.spec-table tr.spec-center { text-align: center; font-weight: bold; }
.spec-credit  { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 15px 0; }
.spec-credit td { padding: 5px 0 5px 10px; font-size: 12px; border-right: 1px solid #ccc; }
.spec-credit td:last-child { border: 0; }
.spec-credit h2 { font-size: 16px; margin: 0;  }
.spec-credit ul  { margin: 0 0 0 15px; }
.spec-credit ul li { list-style-type: square;  }


/*************** Menu */

.menu, .menu ul li {
	color: #000;
}

#nav li.active li a, .menu ul a { background-image: none; background-color: #efefef; }
.menu ul a:hover, #nav li.child-active a { background-color: #e7e7e7 !important; background-image: none !important; }

.menu ul {
	width: 11em;
}

.menu a {
	text-decoration: none;
	color: #333;
	padding: .4em 1em;
	display: block;
	position: relative;
	font-size: 13px;
}

.menu a:hover, .menu li:hover>a {
	background: url(img/menu-hover-bg.jpg) repeat-x;
}

.menu li li {	/* create borders around each item */
	margin: 0 0 1px;
}
.menu ul>li + li {	/* and remove the top border on all but first item in the list */
	border-top: 0;
}

.menu li li:hover>ul {	/* inset 2nd+ submenus, to show off overlapping */
	top: 5px;
	left: 90%;
}

/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
	placed here to clarify the terminology I use when referencing submenus in posts */
.menu>li:first-child>a, .menu li + li + li li:first-child>a {
	
}

/* Fix for IE5/Mac \*//*/
.menu a {
	float: left;
}
/* End Fix */

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -127px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.page-wrap:after {
  /* .push must be the same height as footer */
  height: 127px; 
}
