/******** PB & MT DEW *******************************/
/******** RESETS ************************************/
*, html, body, ul, li, h1, h2, h3, h4, h5, h6, form, p { margin: 0; padding: 0; }
ul, li { list-style: none; }
img { border: none; }

/******** STRUCTURE & SPECIFICS *****************/
body { background: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #666; text-align: center; }

.wrap { padding: 0; width: 980px; margin: 0 auto; text-align: left; }

#top { width: 100%; background: url(img/top-bg.jpg) repeat-x; height: 17px;  }
#nav { height: 27px; padding: 50px 0 0 34px; background: url(img/menu-bg.jpg) no-repeat; }
#banner { margin: 20px auto 0 auto; padding: 5px 15px 0; width: 950px; height: 385px; background: url(img/slide-bg.jpg) no-repeat; }
#content { min-height: 100px; height: auto !important; height: 100px;  }
#footer  { width: 100%; height: 127px; background: url(img/footer-bg.jpg) repeat-x; }

	#top .wrap { position: relative;  }
	h1.logo {  z-index: 10000; position: absolute; left: 338px;  }
	h1.logo a { display: block; width: 265px; height: 160px; background: url(img/logo.png) no-repeat; }
	h1.logo span { display: none; }
	
	#nav li#menu-1, #nav li#menu-2 { padding: 0 45px 0 0; }
	#nav li#menu-4 { margin: 0 0 0 265px; }
	#nav li#menu-5, #nav li#menu-6 { padding: 0 0 0 5px; }
	#nav li.active a { background: url(img/menu-hover-bg.jpg) repeat-x; }
	
	#slides  { display:none; }
	.slidesjs-stop { display: none !important; }
	
	.quickies { padding: 30px 0; }
	.quickies li { display: inline-block; margin: 0 6px; }
	body.page #content { padding: 0 0 0 16px; margin: 110px 0 40px; font-size: 14px; }
	body.page #content p { line-height: 20px; margin: 0 0 15px; }
	.sideCol { width: 406px; }
	.mainCol { width: 558px; }
	body.about .mainCol p { padding: 0 110px 0 19px; }
	body.service-center-workshop .sideCol { width: 581px; }
	body.service-center-workshop .mainCol { width: 383px; }
	table.location td + td { vertical-align: top; padding: 0 15px 0 30px; }
	table.location td { padding: 0 0 30px; }


	#footer .wrap { padding: 25px 0 0; text-align: center; color: #3f3f3f; }
	#footer p { font-size: 16px; font-weight: bold; }
	#footer p:nth-child(2) { color: #8f8f8f; font-weight: normal; }
	#footer a { color: #8f8f8f; padding: 0 8px; }

/******** REPEATS ********************************/
h1,h2,h3,h4,p,ul,ol,table { margin-bottom: 10px; }

a { color: #ed1c24; text-decoration: none; }
a:hover { text-decoration: underline; }

.clearfix { display: inline-block; }
.clearfix:after { display: block; height: 0; clear: both; content: ".";  visibility: hidden; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

img.floatl { margin: 0 10px 0 0; }
img.floatr { margin: 0 0 0 10px; }
img.thumbnail { padding: 4px; -webkit-box-shadow: 0 0 10px rgba(101, 101, 101, 0.5); -moz-box-shadow: 0 0 10px rgba(101, 101, 101, 0.5); box-shadow: 0 0 10px rgba(101, 101, 101, 0.5); }

.floatl { float: left; }
.floatr { float: right; }
.alignr { text-align: right; }
.alignl { text-align: left; }
.alignc { text-align: center; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; } /* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
html { -webkit-font-smoothing: antialiased; } /* maxvoltar.com/archive/-webkit-font-smoothing */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.7em; }
h6 { font-size: 0.5em; }
h1.page-title { text-transform: uppercase; color: #333; }

/*************** Pagination styles */

.pagiwrap { text-align: center; margin: 20px 0; }
.pagiwrap p { color: #7a7a7a; margin: 20px 0; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px 4px; border: 1px solid #dadada; text-decoration: none; color: #7a7a7a; background: #efefef; }
.pagination a:hover, .pagination a:active { font-weight: bold; color: #6f8b0f; background-color: #dbdbdb; border: 1px solid #c9c9c9; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; color: #6f8b0f; background-color: #dbdbdb; border: 1px solid #c9c9c9;}	
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; color: #DDD; }
.pagination a.less, .pagination a.more  { color: #6f8b0f; background: none; border: none; }
html>body .pagination { padding: 0; }	

/*************** Menu */

.menu, .menu ul li {
	color: #000;
}

.menu ul a { background-color: #efefef; }
.menu ul a:hover { background-color: #e7e7e7 !important; background-image: none !important; }

.menu ul {
	width: 11em;
}

.menu a {
	text-decoration: none;
	color: #333;
	padding: .4em 1em;
	display: block;
	position: relative;
	font-size: 13px;
}

.menu a:hover, .menu li:hover>a {
	background: url(img/menu-hover-bg.jpg) repeat-x;
}

.menu li li {	/* create borders around each item */
	margin: 0 0 1px;
}
.menu ul>li + li {	/* and remove the top border on all but first item in the list */
	border-top: 0;
}

.menu li li:hover>ul {	/* inset 2nd+ submenus, to show off overlapping */
	top: 5px;
	left: 90%;
}

/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
	placed here to clarify the terminology I use when referencing submenus in posts */
.menu>li:first-child>a, .menu li + li + li li:first-child>a {
	
}

/* Fix for IE5/Mac \*//*/
.menu a {
	float: left;
}
/* End Fix */

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -127px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.page-wrap:after {
  /* .push must be the same height as footer */
  height: 127px; 
}
